.nav {
    height: 10vh;
    display: flex;
    .logoContainer {
        width: 50%;
        padding-top: 15px;
    }
    .showingNav {
        width: 50%;
        padding-top: 15px;
        ul {
            justify-content: space-around;
        }
    }
}


.logo {
    height: 43px;
    width: 43px;
    border: 2px solid #A51C30;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(165,28,48,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(165,28,48,1);
    box-shadow: 5px 5px 0px 0px rgba(165,28,48,1);
}

.logo a {
    color: $darkColor;
    width: 43px;
    height: 43px;
}

.logo p {
    font-size: 9px;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    top: 9px;
    left: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 100%;
}
.logo p:first-of-type {
    letter-spacing: 1px;
}

.nav button {
    color: $firstColor;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    transition: 1s all;
}

.nav button:hover {
    -webkit-box-shadow: 0px 5px 60px 0px rgba($color:$firstColor, $alpha: .27);
    -moz-box-shadow: 0px 5px 60px 0px rgba($color:$firstColor, $alpha: .27);
    box-shadow: 0px 5px 60px 0px rgba($color:$firstColor, $alpha: .27);
}

.hero {
    display: flex;
    min-height: 90vh;
    h3 {
        color: $firstColor;
        font-size: 2rem;
        padding-bottom: 20px;
    }
    p {
        padding: 20px 0px 40px 0px;
        font-size: 1rem;
        color: $secondColor;
        line-height: 30px;
    }
}

.socialMedia {
    margin: 50px 0px 0px 0px;
    font-size: 2rem;
    a {
        margin-right: 20px;
        transition: .5s all;
        &:hover {
            color: $secondColor;
        }
    }
}

.scott, .title {
    width: calc(50% - 20px);
    max-height: 600px;
    position: relative;
    top: 100px;
    img {
        width: 100%;
        border: 5px solid $firstColor;
        border-radius: 50%;
    }
}

.scott {
    min-height: 500px;
}

.title{
    margin-right: 40px;
}


.hiddenMenu {
    display: none;
    width: 30%;
    background-color: $backgroundColor;
    z-index: 10;
    position: fixed;
    // left: -30%;
    height: 150vh;
    border-right: 5px solid $firstColor;
    nav {
        position: relative;
        top: 50px;
        height: 100vh;
    }
    h2 {
        padding-left: 50px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    button {
        font-size: 2rem;
    }
    .logoContainer {
        transform: scale(3);
        position: absolute;
        bottom: 230px;
        left: 60%;
    }
}

.hamburger {
    display: none;
    position: absolute;
    top: -30px;
    right: 40px;
    color: $firstColor;
    font-size: 3rem;
    margin: 0px;
}




